@page "/products/productsList"

@inject IProductService ProductService
@inject NavigationManager NavigationManager

<h3>ProductsList</h3>

<p>
    <NavLink class="btn btn-primary" href="/products/addProduct">Add New Product</NavLink>
</p>

@if (products == null)
{
    <p>@message</p>
}
else
{
    <div>
      @*   <input type="text" class="form-control" placeholder="Search" @bind="searchText" /> *@
       <InputText class="form-control" @bind-Value="searchText" placeholder="Search" />
       <button class="btn btn-primary" @onclick="Search" >Search</button>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Barcode</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Barcode</td>
                    <td>@product.CreatedDate</td>
                    <td><button class="btn btn-primary" @onclick="()=>GoToEditProduct(product.Id)" >Edit</button></td>
                </tr>
            }
        </tbody>
    </table>

}

@code {

    private List<Product> products;
    private string message = "Loading...";
    private string searchText = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    private async Task LoadProducts()
    {
        // products = await Http.GetFromJsonAsync<List<Product>>("api/products");
        var reponse = await ProductService.GetProductsAsync();
        if (reponse.Success)
        {
            products = reponse.Data;
        }
        else
        {
            message = reponse.Message;
        }

    }

    private async Task Search()
    {
        var response = await ProductService.SearchProdutsAsync(searchText,1,10);
        if (response.Success)
        {
            products = response.Data;
        }
        else
        {
            message = response.Message;
        }
    }

    private void GoToEditProduct(int productId)
    {
        NavigationManager.NavigateTo($"/products/editProduct/{productId}");
    }
}
